.carousel {
    /* max-width:800px;
    max-height:400px; */
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }

.carousel-heading{
    text-align: center;
    font-size: 40px;
}

.carousel-text{
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

.carousel-img{
    opacity: 0.4;
    height: 400px;
}

.carousel-caption{
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    color: #282C35;
}



/* @media (max-width: 500px) {
    .carousel {
      min-width:600px;
      max-width: 700px;
      min-height:300px;
    }
} */